.search { 
    color:  #4099FF; 
  font-family:Georgia; 
  font-size: 20pt; 
 }
 
 .Tfor{
    background-color: #FFFFFF;
    color:  #4099FF; 
  font-family:Georgia; 
  font-size: 20pt; 
  border-style:solid;
  border-color:black;
 
 }
 #table {
  }